/* .container {
  border: 5px solid black;
  margin: 5px;
  max-width: 365px;
  max-height: 350px;
}

.img {
  margin: 5px;
  width: 350px;
  height: 230px;
  border: 3px solid blue;
}

h3 {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 18.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffffffab;
} */

.card {
  width: 365px;
  height: 285px;
  /* max-width: 365px;
  max-height: 350px; */
  background: #6e6363;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  margin: 15px;
  pointer-events: auto;
}

.img {
  margin-top: 28px;
  height: 40%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
  background-repeat: no-repeat;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
  /* transform: translateY(-100px); */
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .name {
  font-size: 40px;
}

.textBox > .continent {
  font-size: 40px;
}

.textBox > span {
  font-size: 30px;
  color: lightgrey;
}

.card:hover > .textBox {
  opacity: 1;
  pointer-events: none;
}

.card:hover > .img {
  height: 65%;
  filter: opacity(0.5) blur(7px);
  animation: anim 3s infinite;
  pointer-events: auto;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
}
