.container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  flex-direction: column;
  background-image: url("https://th.bing.com/th/id/OIG.U2v_Q5U.QgEpgyrKODik?pid=ImgGn");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
