.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("https://th.bing.com/th/id/OIG.U2v_Q5U.QgEpgyrKODik?pid=ImgGn");
}
