.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: content-box;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;

  background-repeat: no-repeat;
}
