.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.index {
  font-weight: bolder;
  font-size: 2em;
  margin: 3px;
  border: 2px solid rgb(255, 0, 183);
}
.current {
  margin: 3px;
  color: black;
  border: 2px solid rgb(255, 0, 183);
  background-color: rgb(255, 0, 183);
  padding: 0;
}
