.container {
  max-width: 97.3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  padding: 0;
  height: 65px;
  background-image: url("https://th.bing.com/th/id/OIG.JFFgGzefdlFaIpeco9BG?w=1024&h=1024&rs=1&pid=ImgDetMain");
}
